<section id="contact" class="py-md-5 block text-center contact-block mb-5">
    <div class="container">
        <div class="row block-header">
            <div class="col-sm-8 mx-auto text-center">
                <h1 class="display-4 mt-2 section-title">Get Started Free</h1>
                <hr>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, totam ipsa quia hic odit a sit laboriosam voluptatem in, blanditiis.</p>
            </div>
        </div>
        
        <div class="row mt-5">
            <!-- method="POST" action="email_display" -->
            <form  id="form" class="col-md-4 col-xl-4 mx-auto input-border">
                <div class="form-group">
                    <input name="name" id = "contact-form-name" type="text" class="form-control form-control-lg" placeholder="Name">
                </div>
                <div class="form-group">
                    <input name="email" id = "contact-form-email" type="text" class="form-control form-control-lg" placeholder="Email">
                </div>
                <div class="form-group">
                    <input name="message" id = "contact-form-message" type="text" class="form-control form-control-lg" placeholder="message">
                </div>
                <button type="submit" id ="contactSubmit" class="btn btn-block btn-lg btn-info">SEND</button>
            </form>
        </div>
    </div>
  </section>