<section style="background:url('https://lh3.googleusercontent.com/3HZ2QEV94YcXDfZEmYTKWxoDhlO8yMklvkSB_kRzaC8z1nXo1CqV5lQ4gaDlcQjGRyt2csTZm5IHHc7LiH-Oo0QISw=s2048');background-size:cover;background-position:center;">
    <div class="gradient-div py-3" style="height:76vh">

        <div class="container">
            <div class="row justify-content-center header-row">
                <div class="col-12 col-md-8 col-lg-7 text-center text-white">
                  <img class="mt-4" style ="width:160px;border-radius:50%;" src = "https://lh3.googleusercontent.com/_qisLgtLowS2L_uybeJNhDqyjuU971KCSvdpcynU1294b9P9ZYi9Mt53zW8BOPXwJSMPixT9u7vVfL9FLUgVxsGkLA=s320-c" />
                    <h1 class="display-3 mt-1">Hello There!!</h1>
                    <p class="lead text-white mb-4 mt-1">
                      My name is Michael, am a full stack software developer, let&#39;s build you a project 
                    </p>
                    </div>
            </div>
        </div>
    </div>
</section>