<section class="smart-scroll">
    <div  class="container-fluid">
        <nav class="   navbar fixed-top navbar-expand-md navbar-light  ">
            <a class="navbar-brand heading-black" href="/">
                <img class="img-logo" src="https://lh3.googleusercontent.com/NMh7wpEQQBSfwPo7uo7aZY8XBfh3GBjVqhtslM3jGuKXSrlvdUlWSNclGliHaYjBCKERDcuMsrDyt9WoTwHdc0iZn14=s440"/>
            </a>
            <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse"
                    data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                    aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto mobile-nav">
                    <li class="nav-item">
                        <a class=" text-dark nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class=" text-dark nav-link" href="/projects">Projects</a>
                    </li>

                    <li class="nav-item">
                        <a class="text-dark nav-link" href="/#services">Services</a>
                    </li>

                    <li class="nav-item">
                        <a class="text-dark nav-link" href="/#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</section>