<section id="projects" class="py-5 py-md-7">
    <div class="container py-md-5">
    <div class="row block-header">
    <div class="col-sm-8 mx-auto text-center">
    <h1 class="display-4 mt-2">My projects</h1>
    <hr>
    <p class="lead">Take a look at my most recent work.</p>
    </div>
    </div>
    
    <div class="row mt-5 aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
    <div class="col-md-4 col-sm-12 mb-2r">
    <a href="/project/portfolio-2zw61z">
        <div class="position-relative project">
            <div class="image position-relative ">
                <img src="https://lh3.googleusercontent.com/6zeQ5R0PtDnGGRin73vxqENxMF5zuESTFEXH98AeiHn_Et4HJo6E_nzWuwgnRPOLhI0rqI7BGQXvsyzIDRqzBFrgfA" class="img-fluid w-100 d-block">
                <div class="overlay-box">
                    <div class="overlay-inner overlay-content">
                        <h5 class="mb-0">Portfolio</h5>
                        <p>Design</p>
                    </div>
                </div>
            </div>
        </div>
    </a>
    </div>
    </div>
    </section>