
<!doctype html>
<html lang="en">
<head>
<title>Michael_Kasingye</title>
<!-- Required meta tags -->
<%include partials/metags.ejs%>
</head>
<body>
<div class="blocks-page">
    <!--navigation-->
<%include partials/navigation.ejs%>
<!-- services -->
<section class="py-5 mb-5" data-aos="fade-up">
    <div class="container post-content">
        <div class="text-center pt-5">
            <h1 class="section-title position-relative pb-3 mt-5">Web development</h1>
        </div>

        <div class="row mt-5 pt-4">
            <div class="col-md-5">
                <p class="pt-3 mb-2r"><img src="https://lh3.googleusercontent.com/6zeQ5R0PtDnGGRin73vxqENxMF5zuESTFEXH98AeiHn_Et4HJo6E_nzWuwgnRPOLhI0rqI7BGQXvsyzIDRqzBFrgfA=s1080"/></p>
            </div>
            <div class="col-md-7">
                <h4 style="font-weight: 600;">Design</h4>
                <div class="text"><p>Eodem modo is enim tibi nemo dabit, quod, expetendum sit, id esse laudabile. Sic enim censent, oportunitatis esse beate vivere. Quid iudicant sensus? Neque solum ea communia, verum etiam paria esse dixerunt. Ab hoc autem quaedam non melius quam veteres, quaedam omnino relicta. Si longus, levis;</p><p><br /></p><p>Ergo ita: non posse honeste vivi, nisi honeste vivatur? Iam in altera philosophiae parte. Eaedem res maneant alio modo. Cum autem negant ea quicquam ad beatam vitam pertinere, rursus naturam relinquunt. His enim rebus detractis negat se reperire in asotorum vita quod reprehendat. </p></div>
                <ul class="mb-3 mt-2r">
                    <li><strong>Client</strong><p>Name</p></li>
                    <li><strong>Year</strong><p>2019</p></li>
                </ul>
                <a class="view-btn" href="https://www.facebook.com/" target="_blank"><button class="btn btn-primary btn-send-message">View Project</button></a>
            </div>
        </div>
    </div>
</section>
<!-- footer -->
<%include partials/footer.ejs%>
  </div>
<!-- scripts -->
<%include partials/scripts.ejs%>
</body>
</html>